@model PCM.MacExpress.Presentation.Core.ViewModel.AtencionModels

@{
    ViewBag.Titulo = "Lista de Servicios";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="page-header" style="margin-top: 0px; margin-bottom: 5px;">
    <div class="form-horizontal">
        <div class="form-group" style="padding: 0px; margin: 0px;">
            <div class="col-md-12 text-center">
                <input id="hddWPV" name="hddWPV" type="hidden" value="0">
                @*<h2 style="margin-bottom: 5px;"> Servicios MAC EXPRESS </h2>*@
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a id="aTabListaPorEntidad" href="#">Lista por Entidad</a></li> @*@Url.Action("Index", "Servicios", new { area = "AtencionCiudadano", wpv = "1" })*@
    <li role="presentation"><a id="aTabListaPorServicio" href="#">Lista por Servicios.</a></li> @*@Url.Action("Index", "Servicios", new { area = "AtencionCiudadano", wpv = "2" })*@
</ul>

<div id="divPorEntidad"></div>

@using (Html.BeginForm("Index", "Servicios", new { area = "AtencionCiudadano" }, FormMethod.Post, new { id = "FormularioListaServicios" })) { }

<script src="~/Scripts/Negocio/AtenderCiudadano.js"></script>

<script>
    $(document).ready(function () {
        window.history.go(+1);

        $('#hddWPV').val('@ViewBag.wpv');

        if (@ViewBag.wpv == 1)
            fnGetObjetoServicio(@ViewBag.wpv, '@Model.SERVICIO', '@Model.SEPARADOR[0]', '@Model.SEPARADOR[Model.SEPARADOR.Length - 2]', '@Model.SEPARADOR[Model.SEPARADOR.Length - 1]', '@Model.DNI', '@Model.NOMBRE', '@Model.APELLIDO_PATERNO', '@Model.APELLIDO_MATERNO', '@Model.TOTAL', '@Model.PAGINADO');

        if (@ViewBag.wpv == 2) {
            $(".nav li").removeClass("active");
            $(".nav li").eq($(".nav li").length - 1).addClass("active");

            fnGetObjetoServicio(@ViewBag.wpv, '@Model.SERVICIO', '@Model.SEPARADOR[0]', '@Model.SEPARADOR[Model.SEPARADOR.Length - 2]', '@Model.SEPARADOR[Model.SEPARADOR.Length - 1]', '@Model.DNI', '@Model.NOMBRE', '@Model.APELLIDO_PATERNO', '@Model.APELLIDO_MATERNO', '@Model.TOTAL', '@Model.PAGINADO');
        }
    });

    function showDialog_ServicioCiudadano(url) {
        var FormulariosPopupInstance = new BootstrapDialog({
            title: '<b></b>',
            message: $('<div></div>'),
            size: BootstrapDialog.SIZE_SMALL,
            closable: false,
            draggable: false
        });

        var message = $('<div></div>').load(url);
        FormulariosPopupInstance.setMessage(message);
        FormulariosPopupInstance.open();

        setTimeout(function () {
            $('.modal-header').css('padding', '0px');
            $('.modal-sm').css('width', $(window).width() + 'px').css('position', 'relative').css('top', '-28px').css('left', '-25px');
            $('#modalNuevaAtencion').css('height', ($(window).height() - 10) + 'px');
            $('.modal-body').css('padding', '0px');
        }, 200);
    }
</script>

<style>

    fieldset.scheduler-border {
        border: 2px solid #337ab7 !important;
        border-radius: 10px;
        padding: 0 1em 0.3em 1em !important;
        margin: 0 0 0.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 1em !important;
        font-weight: bold !important;
        text-align: left !important;
        margin-bottom: 10px;
    }

    table {
        border-radius: 10px;
        border-style: hidden;
        box-shadow: 0 0 0 2px #337ab7;
    }

    .span-style {
        display: inline-block;
        width: 100%;
        margin: 1px;
        border: 2px solid #337ab7;
        border-radius: 10px;
    }

    .cssServicioLink {
        font-size: 18px;
        cursor: pointer;
    }

    .bootbox-body {
        font-size: 18px;
    }
</style>